{{> start}}
    <div class="card" style="width:100%; height:50%; 
    background-color:lightgrey;">
        <p>Could not found the page you are looking for  </p>
        <del>{{url}}</del>
    </div>
{{> end}}